In [47]:
s={}  #creating empty set

In [48]:
print(s)
print(type(s)) #initial a empty set is set to be sictionary to create a empty set use contructor

{}
<class 'dict'>

In [49]:
s= set() # using set function

In [50]:
print(s)
print(type(s)) #now it is create as set

set()
<class 'set'>

In [51]:
s.add(6)

In [52]:
print(s)

{6}

In [53]:
s.remove(6)

In [54]:
print(s)

set()

In [55]:
for i in range(10): # asging item through loop
    s.add(i)

In [56]:
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [57]:
while s:
    print(s.pop())

0
1
2
3
4
5
6
7
8
9

In [58]:
print(s)

set()

adding items through while loop

In [59]:
while i <100:
    s.add(i)
    i=i+1

In [60]:
print(s)

{9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [61]:
print(1 in s)
print(8 in s)
print(9 in s)
print(100 in s)
print(1 in s)

False
False
True
False
False

In [62]:

import operator as op
print(op.countOf(s, 99)) # it will count the item in set, But set has a unique itm so we son't nees it

1

seclairing a string character as a set

In [63]:
stre=tuple("Himanshu")

In [64]:
print(stre)

('H', 'i', 'm', 'a', 'n', 's', 'h', 'u')

In [65]:
print('i' in stre)

True